name: ${PROJECT_NAME}
services:
  caddy:
    build:
      context: .
      dockerfile: Dockerfile.caddy
      args:
        UID: "${UID:-1000}"
        GID: "${GID:-1000}"
    restart: unless-stopped
    networks:
      - services-network
    volumes:
      - caddy_config:/config
      - ./caddy/data:/data
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
    cap_add:
      - NET_ADMIN
    environment:
      CADDY_DEBUG: 1
      MACHINE_URL: ${MACHINE_URL}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL}
      CADDY_BASIC_AUTH_USER: ${CADDY_BASIC_AUTH_USER}
      CADDY_BASIC_AUTH_PASSWORD_HASH: ${CADDY_BASIC_AUTH_PASSWORD_HASH}
    ports:
      - 80:80
      - 443:443
volumes:
  caddy_config: {}
networks:
  services-network:
    external: true
    name: ${PROJECT_NAME}-network
