{$MACHINE_URL} {
	tls {$LETSENCRYPT_EMAIL}

	log {
		output stdout
		level INFO
	}

	respond "Certificate management initiated for {$MACHINE_URL}. If you see this, Caddy is running." 200
}

grafana.{$MACHINE_URL} {
	tls {$LETSENCRYPT_EMAIL}

	log {
		output stdout
		level INFO
	}

	reverse_proxy grafana:3000
}

reporter.{$MACHINE_URL} {
	tls {$LETSENCRYPT_EMAIL}

	log {
		output stdout
		level INFO
	}

	reverse_proxy reporter:8000
}

keycloak.{$MACHINE_URL} {
	tls {$LETSENCRYPT_EMAIL}

	log {
		output stdout
		level INFO
	}

	reverse_proxy keycloak:8080
}
