name: {{ general_vars.project_name }}-quality-reporter

services:
  reporter:
    build: .
    expose:
      - "8000"
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "{{ kafka_conf.kafka_bootstrap_srv }}"
      KAFKA_SASL_USERNAME: "{{ kafka_conf.kafka_sasl_usr }}"
      KAFKA_SASL_PASSWORD: "{{ kafka_conf.kafka_sasl_psw }}"
      KAFKA_SERVER_CERTIFICATE_LOCATION: "/certs/server.crt"
      KAFKA_ENDPOINT_IDENTIFICATION: "{{ kafka_conf.kafka_endpnt_id }}"
      DATABASE_PATH: sqlite:////data/report.db
    volumes:
      - "reporter_data:/data"
      - "{{ general_vars.digital_twin_folder }}/certificates/:/certs:ro"
    networks:
      - services-network

  grafana:
    image: grafana/grafana:latest
    expose:
      - "3000"
    environment:
      - GF_SECURITY_ADMIN_USER={{ grafana_conf.graf_usr }}
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana_conf.graf_psw }}
      - GF_AUTH_BASIC_ENABLED=true
      - GF_AUTH_ANONYMOUS_ENABLED=false
      - GF_INSTALL_PLUGINS=yesoreyeram-infinity-datasource
      ## Keycloak
      - GF_SERVER_ROOT_URL=https://grafana.{{ general_vars.machine_url }}/
      # - GF_AUTH_GENERIC_OAUTH_TLS_CLIENT_CA=/usr/share/grafana/certs/ca.crt
      # - GF_AUTH_GENERIC_OAUTH_TLS_CLIENT_CERT=/usr/share/grafana/certs/server.crt
      # - GF_AUTH_GENERIC_OAUTH_TLS_CLIENT_KEY=/usr/share/grafana/certs/server.key
      - GF_AUTH_GENERIC_OAUTH_ENABLED=true
      - GF_AUTH_GENERIC_OAUTH_NAME=Keycloak-OAuth
      - GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP=true
      - GF_AUTH_GENERIC_OAUTH_CLIENT_ID={{ grafana_conf.graf_kck_id }}
      - GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET={{ grafana_conf.graf_kck_scr }}
      - GF_AUTH_GENERIC_OAUTH_SCOPES=openid email profile # offline_access roles
      - GF_AUTH_GENERIC_OAUTH_EMAIL_ATTRIBUTE_PATH=email
      - GF_AUTH_GENERIC_OAUTH_LOGIN_ATTRIBUTE_PATH=username
      - GF_AUTH_GENERIC_OAUTH_NAME_ATTRIBUTE_PATH=full_name
      - GF_AUTH_GENERIC_OAUTH_AUTH_URL=https://{{ general_vars.keycloak_url }}/realms/{{ general_vars.project_name }}/protocol/openid-connect/auth
      - GF_AUTH_GENERIC_OAUTH_TOKEN_URL=https://{{ general_vars.keycloak_url }}/realms/{{ general_vars.project_name }}/protocol/openid-connect/token
      - GF_AUTH_GENERIC_OAUTH_API_URL=https://{{ general_vars.keycloak_url }}/realms/{{ general_vars.project_name }}/protocol/openid-connect/userinfo
      - GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH=contains(roles[*], 'admin') && 'Admin' || contains(roles[*], 'editor') && 'Editor' || 'Viewer'
    volumes:
      - grafana_data:/var/lib/grafana
      - {{ general_vars.digital_twin_folder }}/certificates/:/usr/share/grafana/certs/:ro'
    restart: unless-stopped
    networks:
      - services-network

volumes:
  grafana_data:
    name: grafana_data
  reporter_data:
    name: reporter_data

networks:
  services-network:
    external: true
    name: {{ general_vars.project_name }}-network

