name: project_name

services:
  reporter:
    build: .
    ports:
      - 8000:8000
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "kafka_bootstrap_srv"
      KAFKA_SASL_USERNAME: "kafka_sasl_usr"
      KAFKA_SASL_PASSWORD: "kafka_sasl_psw"
      KAFKA_SERVER_CERTIFICATE_LOCATION: "/certs/server.crt"
      KAFKA_ENDPOINT_IDENTIFICATION: "kafka_endpnt_id"
      DATABASE_PATH: sqlite:////data/report.db
    volumes:
      - "./reporter_data:/data"
      - "digital_twin_folder/certificates/:/certs:ro"

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=graf_usr
      - GF_SECURITY_ADMIN_PASSWORD=graf_psw
      - GF_AUTH_BASIC_ENABLED=true
      - GF_AUTH_ANONYMOUS_ENABLED=false
      - GF_INSTALL_PLUGINS=yesoreyeram-infinity-datasource
      ## Keycloak
      - GF_SERVER_ROOT_URL=http://beetroot.linksfoundation.com:3000/
      # - GF_AUTH_GENERIC_OAUTH_TLS_CLIENT_CA=/usr/share/grafana/certs/ca.crt
      # - GF_AUTH_GENERIC_OAUTH_TLS_CLIENT_CERT=/usr/share/grafana/certs/server.crt
      # - GF_AUTH_GENERIC_OAUTH_TLS_CLIENT_KEY=/usr/share/grafana/certs/server.key
      - GF_AUTH_GENERIC_OAUTH_ENABLED=true
      - GF_AUTH_GENERIC_OAUTH_NAME=Keycloak-OAuth
      - GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP=true
      - GF_AUTH_GENERIC_OAUTH_CLIENT_ID=graf_kck_id
      - GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET=graf_kck_scr
      - GF_AUTH_GENERIC_OAUTH_SCOPES=openid email profile # offline_access roles
      - GF_AUTH_GENERIC_OAUTH_EMAIL_ATTRIBUTE_PATH=email
      - GF_AUTH_GENERIC_OAUTH_LOGIN_ATTRIBUTE_PATH=username
      - GF_AUTH_GENERIC_OAUTH_NAME_ATTRIBUTE_PATH=full_name
      - GF_AUTH_GENERIC_OAUTH_AUTH_URL=https://keycloak_url:7171/realms/project_name/protocol/openid-connect/auth
      - GF_AUTH_GENERIC_OAUTH_TOKEN_URL=https://keycloak_url:7171/realms/project_name/protocol/openid-connect/token
      - GF_AUTH_GENERIC_OAUTH_API_URL=https://keycloak_url:7171/realms/project_name/protocol/openid-connect/userinfo
      - GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH=contains(roles[*], 'admin') && 'Admin' || contains(roles[*], 'editor') && 'Editor' || 'Viewer'
    volumes:
      - grafana_data:/var/lib/grafana
      - digital_twin_folder/certificates/:/usr/share/grafana/certs/:ro'
    restart: unless-stopped

volumes:
  grafana_data:
    name: grafana_data
